<html>
<head>
<title>My Demo App</title>
</head>

<body style="font-family:Times New Roman;">

<%= link_to 'About', about_path %> 
<h1 align="center">Welcome to my webpage!</h1>

<center><div style="width:1000px;">
<%= image_tag 'download.jpg', :class => "pic" %>
</div></center>

<div class="data>
<div id="intro" >

<p>mountain, high land mass projecting conspicuously above its surroundings and usually of limited width at its summit. Although isolated mountains are not unusual, mountains commonly form ranges, comprising either a single complex ridge or a series of related ridges. A group of ranges closely related in form, origin, and alignment is a mountain system; an elongated group of systems is a chain; and a complex of ranges, systems, and chains continental in extent is called a cordillera, zone, or belt.</p>

</div>

<div id="details">

<p>Mountain Ranges of India: India has seven major mountain ranges having peaks of over 1000 meters. India has some of the highest mountain ranges in the world. It also has some of the world’s highest mountain roads. The Great Himalayan mountain range are the famous and highest mountain hills of India. The Himalayan mountain range bisects India from the rest of Asia, this mountains is the primary source of mighty rivers in India. These hills contain areas of exceptional natural beauty, sparking waterfalls and habitat for many species of medicinal plants, beautiful birds, unique reptiles and wild animals. Kanchanjenga is the highest peak in India and 3rd in the world, Nanda devi is the second highest mountain peak in India.</p>

</div>

</div>
</body>
</html>
