// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pic{
   height: 200px;
   width: 1000px;
}

#data{
   height: 500px;
   width: 1000px;
   border: 1px solid black;
}

.intro{
   float: left;
   border: 1px dotted solid;
   margin-right: 5px;
}

.details{
   float: left;
   border:5px dotted solid;
   margin-right: 100px;
}
